body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  background-color: rgb(250 215 215);
  margin: 0;
  justify-content: center;
}

#grid {
  align-self: center;
  width: 440px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.score {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.msg-line {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.message-box {
  padding: 10px 60px;
  font-size: 15px;
}

.window {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  width: 650px;
  background-color: white;
  box-shadow: 10px 10px black;
}

.window-navbar {
  display: flex;
  border-bottom: 2px solid black;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.mock-buttons {
  display: flex;
  gap: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 2px solid black;
}
.home-icon {
  height: 20px;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.window-content {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  gap: 20px;
}

.result-line {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white;
  border: 2px black solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}

button:hover {
  box-shadow: none;
  transform: translateX(3px);
}
.folder {
  height: 100px;
  width: 80px;
  margin: 20px;
  text-align: center;
}
.folder-img {
  height: 80px;
  width: 80px;
  /* background-color: #ebb0b0; */
}
.folder p {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.folder-left {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " . . . . . "
    " . . . . ."
    ". . . position3 position1"
    ". . . . position2 "
    ". . . . ."
    ". . . . .";
}

.folder-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " . . . . ."
    " . . . . ."
    ". position4 .  . ."
    "position5 . . . ."
    ". position6  . . ."
    ". . . . ."
    ". . . . .";
}

#whack-a-mole {
  grid-area: position1;
}
#frogger {
  grid-area: position2;
}
#breakout {
  grid-area: position3;
  align-self: end;
}
#rock-paper-scissors {
  grid-area: position4;
  align-self: end;
}
#connect-four {
  grid-area: position5;
  justify-self: right;
}
#space-invaders {
  grid-area: position6;
}
