body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(252, 252, 252);
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
}

footer {
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 300;
  margin: 10px;
  padding: 10px;
}

.battle-text {
  margin: 0 auto;
  text-align: left;
  width: 50%;
}
.battle-buttons {
  padding: 20px;
}

.battle-panel {
  width: 150px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#result {
  padding: 10px;
  font-weight: 500;
}
#user-icon {
  transform: scaleX(-100%);
}

@keyframes fancy-spin-right {
  0% {
    transform: rotate(0turn) scaleX(-1) scaleY(1);
  }
  40% {
    transform: rotate(0turn) scaleX(-1) scaleY(1);
  }
  41% {
    transform: rotate(1turn) scaleX(-1) scaleY(1);
  }
  50% {
    transform: rotate(1turn) scaleX(-1.5) scaleY(1.5);
  }
  75% {
    transform: rotate(0turn) scaleX(-1.5) scaleY(1.5);
  }
  100% {
    transform: rotate(0turn) scaleX(-1) scaleY(1);
  }
}

@keyframes fancy-spin-left {
  0% {
    transform: rotate(0turn) scaleX(1) scaleY(1);
  }
  40% {
    transform: rotate(0turn) scaleX(1) scaleY(1);
  }
  41% {
    transform: rotate(1turn) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotate(1turn) scaleX(1.5) scaleY(1.5);
  }
  75% {
    transform: rotate(0turn) scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: rotate(0turn) scaleX(1) scaleY(1);
  }
}

@keyframes loser {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes loser-right {
  0% {
    transform: scaleX(-100%);
    opacity: 1;
  }
  40% {
    transform: scaleX(-100%);
    opacity: 1;
  }

  100% {
    transform: translateY(50px) scaleX(-100%);
    opacity: 0;
  }
}

@keyframes bumping-right {
  0% {
    transform: rotateZ(0) scaleX(-100%);
  }

  50% {
    transform: scaleX(-100%) rotateZ(30deg) translateX(20px);
  }
  100% {
    transform: scaleX(-100%) rotateZ(0);
  }
}
@keyframes bumping-left {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(30deg) translateX(20px);
  }
  100% {
    transform: rotateZ(0);
  }
}

#computer-icon.bump {
  animation: bumping-left 800ms;
  animation-iteration-count: 3;
}
#user-icon.bump {
  animation: bumping-right 800ms;
  animation-iteration-count: 3;
}

#user-icon.spinner {
  animation: fancy-spin-right 1500ms;
  animation-iteration-count: 1;
}

#computer-icon.spinner {
  animation: fancy-spin-left 1500ms;
  animation-iteration-count: 1;
}

.loser {
  animation: loser 1500ms forwards;
  animation-iteration-count: 1;
}

#user-icon.loser {
  animation: loser-right 1500ms forwards;
  animation-iteration-count: 1;
}
